.titolo{
  width::100% ;
  text-align:center;
}

.titolo1{
  width::100% ;
  text-align::sx;
}

.button{
  float:right;
}

.titolo2{
  width::100% ;
  text-align::sx;
}

.titolo3{
  width::100% ;
  text-align::sx;
}
